.worker{
    margin: 0;
    position: absolute;
    left: 100px;
    top: 170px;
    width: 70%;
}
h1{
    position: absolute;
    top: 95px;
    left: 120px;
}
.accordion{
    background: #eee;
    color: #444;
    cursor: pointer;
    padding: 18px;

    text-align: left;
    border: 1px solid;
    outline: none;
    transition: 0.4s;

}
.accordion:hover {
    background-color: #ccc;
}
.panel {
    padding: 0 18px;
    background-color: white;
    display: none;
    overflow: hidden;
    border: 1px solid;
}

.edit, .delete{
    padding: 5px 10px;
    margin: 0 10px 4px 4px;
    border: 2px solid #000;
    border-radius: 5px;
    background: #fff;
    color: black;
    transition: 0.5s;
    text-decoration: none;
    display: block;
    width: 150px;
    text-align: center;
    float: left;
    height: 32px;
    cursor: pointer;
}
.edit:hover, .delete:hover{
    color: white;
    background: black;
    border-color: white;
}

.table-appraisals{
    text-align: center;
    margin: 10px;
    font-size: 20px;
    float: right;
    display: flex;
    border-collapse: collapse;
}
.inf-cont{
    float: left;
    margin-right: 10px;
}
.control{
    width: 400px;
}
.table-appraisals td{
    padding: 5px;
     border: 2px solid black;
}
.form-control{
    margin-top: 90px;
}
.control{
    margin-top: 130px;
    display: block;
}

